<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Authentication
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='auth.css') }}"
    >
</head>

<body>

    <div class="auth-wrapper">

        <div class="auth-card">
            <a href="{{ url_for('root.homepage') }}" class="auth-back-button">
                ← Back
            </a>

            <div class="auth-logo">
                MUSIC LIBRARY
            </div>

            <h2 class="auth-heading">
                {% block auth_heading %}
                {% endblock %}
            </h2>

            {% block form_content %}
            {% endblock %}

        </div>

    </div>

</body>

</html>