<nav class="navbar">

    <div class="navbar-left">
       <!-- Logo -->
    <a href="/" class="navbar-logo">
        <img src="{{ url_for('static', filename='Logo/logo.png') }}"
             alt="Music Library Logo"
             class="navbar-logo-image">
    </a>
    </div>

    <form class="navbar-search" action="/search" method="GET">

        <input
            type="text"
            name="query"
            placeholder="Search..."
            class="navbar-search-input"
            required
        >

        <button
            type="submit"
            class="navbar-search-button">
            Search
        </button>

    </form>

    <div class="navbar-right">

        <a href="/browse/genre/1" class="navbar-browse">
            Browse
        </a>

        <a href="{{ url_for('favourite_bp.favourites') }}"
           class="nav-link">
            My Favourites
        </a>

        <a href="{{ url_for('authentication_bp.logout') }}"
           class="nav-button logout-button"
           style="color: #ff7900 !important;">
            Sign Out
        </a>

    </div>

</nav>
