<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>

    <!-- Navbar CSS -->
    <link rel="stylesheet" href="../static/navbar.css">

</head>
<body>
    <h1>Keyword: {{ keyword }} </h1>

    {% include 'navbar.html' %}

    <form action = '/search/all/{{ keyword }}' method = 'get'>
        <input type="hidden" name="keyword" value="{{ keyword }}">
        <button type="submit">All</button>
    </form>

    <form action = '/search/title/{{ keyword }}' method = 'get'>
        <input type="hidden" name="keyword" value="{{ keyword }}">
        <button type="submit">Title</button>
    </form>

    <form action = '/search/album/{{ keyword }}' method = 'get'>
        <input type="hidden" name="keyword" value="{{ keyword }}">
        <button type="submit">Album</button>
    </form>

    <form action = '/search/artist/{{ keyword }}' method = 'get'>
        <input type="hidden" name="keyword" value="{{ keyword }}">
        <button type="submit">Artist</button>
    </form>

    <form action = '/search/genre/{{ keyword }}' method = 'get'>
        <input type="hidden" name="keyword" value="{{ keyword }}">
        <button type="submit">Genre</button>
    </form>

    {% if results == [] %}

        <h2>No Results</h2>

    {% else %}

        <ul>
            {% for item in results_track %}
                <li><a href="/track/{{ item.track_id }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>

        <ul>
            {% for item in results_genre %}
                <li><b>{{ item.name }}</b></li>
            {% endfor %}
        </ul>

        <ul>
            {% for item in results_album %}
                <li><b>{{ item.title }}</b></li>
            {% endfor %}
        </ul>

        <ul>
            {% for item in results_artist %}
                <li><b>{{ item.full_name }}</b></li>
            {% endfor %}
        </ul>

    {% endif %}


</body>
</html>
