<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Details</title>
</head>
<body>
    <h1>{{ track.title }}</h1>
    <h2>{{ track.artist.full_name }}</h2>
    <h2>{{ track.release_year }}</h2>
    <p>Track Duration: <b>{{ track.track_duration }}</b></p>
    <p>Track Album: <b>{{ track.album.title }}</b></p>


    {% if favourited == False %}
        <form action = "{{ url_for('favourite_bp.favourite', track_id=track.track_id) }}" method = 'get'>
            <button type="submit">Favourite</button>
        </form>

    {% else %}
        <form action = "{{ url_for('favourite_bp.unfavourite', track_id=track.track_id) }}" method = 'get'>
            <button type="submit">Unfavourite</button>
        </form>

    {% endif %}

    <p>
        Track Genre(s):
        {% for genre in track.genres %}
            <b>{{ genre.name }}</b><br>
        {% endfor %}
    </p>

    {% if logged_in == None %}
        <form action = "/authentication/signup" method = "get">
            <button type="submit">Create Account to Make a Review</button>
        </form>

    {% else %}
        <form action = "/review/make/{{ track.track_id }}" method = "get">
            <button type = "submit">Make a Review!</button>
        </form>


    {% endif %}

    {% if reviews == [] %}
        <h2>No Reviews</h2>

    {% else %}
        <h2>Ratings: {{ average_rating }} </h2>
        <p>
            {% for review in reviews %}
                <br>
                <b>{{ review.user }}</b><br>
                <b>{{ review.rating }}/5</b><br>
                <b>{{ review.review_text }}</b><br>
            {% endfor %}
        </p>
    {% endif %}
</body>
</html>
